<div class="border-bottom" style="background-color: #f5f4ed" >

    <div class="d-flex align-items-center">
      <h3 class="pt-3 ms-4 fw-light text-dark fs-6">SUGGESTED LOOKS | </h3>
      <div class="pt-2 ms-1 text-dark fs-6"> <strong><%= @context.objective.upcase %></strong></div>
    </div>

    <div id="messages"class="d-flex overflow-auto pb-3">
        <%= render "messages/messages", looks: @looks %>
    </div>

  <div class="container col-8 mt-5" id="new_message">
    <%= render "messages/form", context: @context, message: @message %>
  </div>

</div>
