// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Import de la homepage
@import "pages/home";

// Import des pages new
// @import "devise/sessions/new";

body {
  background: #f9f8f6;
}

.focus-shadow-lg:focus {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.btn:hover {
  border:2px solid dark;
  color: #212529;
  background: #F7F7F7;
}

