// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Import de la homepage
@import "pages/home";

// Import des pages new
// @import "devise/sessions/new";

body {
  background: #f9f8f6;
}

.focus-shadow-lg:focus {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.btn:hover {
  border:2px solid dark;
  color: #212529;
  background: #F7F7F7;
}

.t-font-100 {
  font-weight: 200;
}

.see-result {
  font-size: 14px;
  font-weight: 300;
}

.hello-username {
  font-size: 1.5em;
  font-weight: 300;
}

.magic {
    width: 1.8vw; /* 10% de la largeur de l'écran */
    height: auto;
}

select.form-select option {
    background-color: white !important;
    color: black;
}

/* Pour les navigateurs webkit (Chrome, Safari) */
select.form-select {
    background-color: white;
}

/* Style spécifique pour le dropdown ouvert */
select.form-select:focus option {
    background-color: white;
    color: black;
}
